<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:name=".DebugGeorgiaTransitApplication"
        android:networkSecurityConfig="@xml/debug_network_security_config"
        tools:replace="android:name">
        <activity
            android:name=".DebugNetworkInspectorActivity"
            android:exported="false"
            android:label="Network inspector" />
    </application>
</manifest>
